{% extends 'base.html.twig' %}

{% block title %}Nouveau Roman{% endblock %}

{% block body %}
    <h1>Ajouter un roman</h1>

    {{ include('romans/_form.html.twig') }}

    <a href="{{ path('romans_index') }}">
    <button type="button" class="btn btn-outline-info">Retour à la liste</button>
    </a>
{% endblock %}
